### Drawing a shape on screen

In [1]:
#draw little triangle
print("   /|")
print("  / |")
print(" /  |")
print("/ __|")

   /|
  / |
 /  |
/ __|

#####  The order of the instructions matters alot in python as it execute line by line

In [5]:
print("    /\\")
print("   /  \\")
print("  /    \\")
print(" /      \\")
print("/ _______\\")

    /\
   /  \
  /    \
 /      \
/ _______\

## 1.Variables & Data Types

##### variables are container where we can store certain data values  which makes it easy to manage data
##### we can store string,int,float,boolean

In [9]:
character_name = "Jhon"
character_age = 50
character_salary = 2003.45
is_male = True


print("There once was a man named" + " " + character_name +  ",")
print("he was 70 years old.")
print("He really liked the name" + " " + character_name + ",")
print("but didn't like being 70")

There once was a man named Jhon,
he was 70 years old.
He really liked the name Jhon
but didn't like being 70

#### 2. Data Types
#### 2.1 Strings

In [18]:
phrase = "Giraffe \n Academy"
print(phrase + " is cool")
#\ escape character  whatever character comes after that will be print

Giraffe
 Academy is cool

#### function is a little block of code that we can run to perform specific operations 
#### 1.we can use functions to modify the stringsprint(phrase.lower())

In [31]:

print(phrase.upper())
print(phrase.upper().isupper())
print(len(phrase))
print( phrase[0]) #string gets indexes starting 0
print(phrase.isupper())

GIRAFFE
 ACADEMY
True
17
G
False

#### 2.str.capitalize(): Converts the first character of the string to uppercase and the rest to lowercase.

In [35]:
print(phrase.capitalize())

Giraffe
 academy

#### 3.index function tells where the character in string is stored
###  3.find function also gives the same output

In [30]:

print(phrase.index("a"))
print(phrase.index("Acad"))

print(phrase.find("a"))
print(phrase.find("Acad"))

3
10
3
10

#### 4.replace is used to replace part of the string

In [ ]:

print(phrase.replace("Giraffe", "Elephant"))

#### 5.Splits a string into a list of substrings using a specified delimiter.

In [34]:
print(phrase.split(" "))
print(phrase.split("a"))

['Giraffe', '\n', 'Academy']
['Gir', 'ffe \n Ac', 'demy']

#### 6.str.strip(), str.lstrip(), and str.rstrip(): Removes leading and trailing whitespace (or specified characters).

In [ ]:
text = "   spaces   "
stripped_text = text.strip()
print(stripped_text)

#### 2.2 Numbers

In [36]:
print(3*(4+5))
print(3*4+5)

27
17

In [37]:
print(10%3)
# gives remider of 10/3

1

In [38]:
my_num = 5
print(my_num)

5

In [44]:
#convert number into string
print(str(my_num) + " my fav number")
#print(my_num + " my fav number")##throws error as we cannot use number with string

5 my fav number

#### Number functions

In [47]:
print(pow(3,2))
print(pow(my_num,4))

9
625

In [51]:
print(max(4,6))
print(min(3,9))
print(round(3.25))
print(round(3.7))
print(round(3.4))
print(round(3.5))

6
3
3
4
3
4

In [52]:
from math import *

print(floor(3.7))
print(ceil(3.7))
print(sqrt(36))

3
4
6.0

### 3. Getting Inputs from users

In [59]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name +"! you are "  + age )

Hello manasa! you are 29

### 4. Building basic Calculator

In [61]:
num1 = input(" Enter a number: ")
num2 = input(" Enter another number: ")
result = num1 + num2
print(result)
# when we get input from user its in string by default so the answer is concat not sum

55

In [63]:
num1 = input(" Enter a number: ")
num2 = input(" Enter another number: ")
result = int(num1) + int(num2)
print(result)
#int will use whole numbers so it does not take decimal numbers

17

In [64]:
num1 = input(" Enter a number: ")
num2 = input(" Enter another number: ")
result = float(num1) + float(num2)
print(result)

8.0

### 5. Mad Lib Game

In [68]:
# game where you can enter words,num,variables etc enter then in the story
colour = input("Enter a color")
plural_noun = input(" Enter a Plural Noun: ")
celebrity = input(" Enter a celebrity: ")
print("Roses are " + colour )
print( plural_noun + " are blue")
print("I love " +  celebrity )

Roses are manasa
mahesh are blue
I love our baby

### 6. Lists

In [70]:
# when you are dealing with large amount of data we need to organize and keep track of them 
# list we use bunch of values in variable and use them
# you can put any values in the list

In [69]:
friends = ["Kevin","karen","Jim"]

In [73]:
## accessing values in list
print(friends[0]) # index starts from 0
print(friends[-1])
print(friends[-2])

Kevin
Jim
karen

In [77]:
# list slicing
print(friends[2:])
print(friends[0:2])

['Jim']
['Kevin', 'karen']

In [82]:
print(friends.index("Kevin"))

0

In [93]:
lucky_numbers  = [4,8,15,16,23,42]
friends = ["Kevin", "Karen", "Jim" ,"Oscar","Toby"]

In [87]:
# extend will Extends the list by appending elements from another iterable.
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42]

In [88]:
# append another element to the list
friends.append("MANASA")
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 'MANASA']

In [89]:
# insert will help to add element to list in prefered index
friends.insert(1,"kelly")
print(friends)

['Kevin', 'kelly', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42, 'MANASA']

In [90]:
#friends.clear()## clear all elements from list

In [94]:
friends.pop()## delete last element in list 
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [98]:
friends.sort()
print(friends)

['Jim', 'Karen', 'Kevin', 'Oscar']

In [99]:
lucky_numbers.reverse()
print(lucky_numbers)

[4, 8, 15, 16, 23, 42]

In [103]:
friends2 = friends.copy()
print(friends2)

['Jim', 'Karen', 'Kevin', 'Oscar']

In [104]:
friends3 = friends
print(friends3)

### 7. Tuple